@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1110px;
  margin: 0 auto;
}
/* global components */

/* buttons */
.btnorg {
  padding: 15px 30px;
  color: #fff;
  background: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btnorg:hover {
  background: #fbaf85;
}
.btnblack {
  padding: 15px 30px;
  color: #fff;
  background: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btnblack:hover {
  background: #4c4c4c;
}
.btnborder {
  padding: 15px 30px;
  color: #000;
  border: 1px solid #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btnborder:hover {
  background: #000;
  color: #fff;
}
/* header */
.main__header {
  padding-top: 35px;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
  position: relative;
}
.hamburger {
  display: none;
}
.hamburger__category {
  position: absolute;
  top: 58px;
  left: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background: #f1f1f1;
  padding: 10px;
  gap: 8px;
}
.hamburger__category h2 {
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hamburger__category h2:hover {
  color: #d87d4a;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.navigation h2 {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navigation h2:hover {
  color: #d87d4a;
}
/* savadcha */
.savadcha__none {
  display: none;
}
.savadcha__show {
  display: inline-block;
  width: 327px;
  position: absolute;
  right: 0;
  top: 100px;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 10;
}
.savadcha__titel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.savadcha__titel h1 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
}
.savadcha__titel h2 {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-decoration-line: underline;
  opacity: 0.5;
  cursor: pointer;
}
.savadcha__titel h2:hover {
  color: #e7681e;
  opacity: 1;
}
.savadcha__product--info h1 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.savadcha__product--info h2 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
}
.savadcha__counter span {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.25;
  cursor: pointer;
}
.savadcha__counter h1 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.savadcha__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.savadcha__total h1 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
}
.savadcha__total h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/* hero */
.main__hero {
  background-color: #0f0f0f;
  margin-bottom: 120px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__text h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 24px;
}
.hero h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.75;
  margin-bottom: 40px;
}

/* category */
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 168px;
}
.category__box {
  position: relative;
  padding: 106px 108px 30px;
  border-radius: 8px;
  background: #f1f1f1;
}
.categoy__img {
  position: absolute;
  top: -40%;
}
.category__box h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.category__shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
}
.category__shop:hover {
  color: #d87d4a;
  opacity: 1;
}
/* HOME main speaker */
.main__speaker {
  border-radius: 8px;
  background: url("./public/oval2.png") no-repeat center;
  background: #d87d4a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 96px;
  margin-bottom: 48px;
}
.main__speaker--text {
  max-width: 349px;
}
.main__speaker--text h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 58px; /* 103.571% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main__speaker p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.75;
  margin-bottom: 40px;
}

/*HOME main speaker 2 */
.main__speaker--2 {
  border-radius: 8px;
  background: #d9d9d9;
  background: url("./public/main-speaker-2.png") no-repeat right;
  padding: 100px;
  margin-bottom: 48px;
}
.main__speaker--2__text h1 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

/* HOME main headphone */
.main__headphone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 122px;
}
.mainHeadphone {
  border-radius: 8px;
}
.main__headphone--text {
  border-radius: 8px;
  background: #f1f1f1;
  padding: 100px 200px 100px 98px;
}
.main__headphone--text h1 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

/* foot */
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
  margin-bottom: 150px;
}
.foot__img {
  border-radius: 8px;
}
.foot__tablet--img {
  display: none;
}
.foot--mobile {
  display: none;
}
.foot__text h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.foot__text h1 span {
  color: #d87d4a;
}
.foot__text p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}

/* footer */
.main__footer {
  padding-top: 75px;
  padding-bottom: 48px;
  background-color: #0e0e0e;
}
.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.f__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.f__navigation h2 {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.f__navigation h2:hover {
  color: #d87d4a;
}
.footer__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text p {
  max-width: 540px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 56px;
}
.footer__text h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
}
.footer__media {
  display: flex;
  align-items: center;
  gap: 16px;
}
.media {
  cursor: pointer;
}
.media:hover {
  box-shadow: rgba(248, 155, 93, 0.35) 0px 5px 15px;
}

/* PRODUCTS page [pds] */

.pds__hero {
  text-align: center;
  padding-top: 98px;
  padding-bottom: 98px;
}
.pds__hero h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
}

/* category produc */
.category__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}
.category__product--img {
  border-radius: 8px;
  padding: 50px 85px 90px;
  background: #f1f1f1;
}
.category__product--text h2 {
  color: #d87d4a;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.category__product--text h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.category__product--text p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  opacity: 0.5;
  margin-bottom: 40px;
}
/* one product */
.go__back {
  padding: 5px 10px;
  border-radius: 8px;
  max-width: 100px;
  text-align: center;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  background: #f1f1f1;
  cursor: pointer;
  margin-top: 79px;
  margin-bottom: 56px;
}
.go__back h1 {
  color: #d87d4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.one__product--hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}
.one__product--img {
  border-radius: 8px;
  background: #f1f1f1;
  padding: 60px 90px 100px;
}
.one__product--text h2 {
  color: #d87d4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.one__product--text h1 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.one__product--text p {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 32px;
}
.one__product--text h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.286px;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.one__product--counter {
  padding: 15px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.one__product--counter span {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
}
.one__product--btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* one product feature */
.one__product--feature {
  display: flex;
  justify-content: space-between;
}
.one__product--feature h1 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.143px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.one__product--feature p {
  max-width: 635px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}
.one__box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.one__box h2 {
  color: #d87d4a;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.one__box h3 {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.5;
}
/* one product img*/
.one__product--imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.one__product--img__grid {
  border-radius: 8px;
  background: #f1f1f1;
}
/* responsive */

@media screen and (max-width: 1130px) {
  .container {
    max-width: 940px;
  }
  .category {
    margin-bottom: 120px;
  }
  .category__box {
    padding: 90px 90px 25px;
  }
  .mainHeadphone {
    width: 450px;
  }
  .main__headphone--text {
    padding: 70px 120px 72px 88px;
  }
  .foot__img {
    width: 420px;
  }
  .foot {
    gap: 100px;
    margin-bottom: 120px;
  }
  .footer__text p {
    max-width: 440px;
    margin-bottom: 56px;
  }
  /* one product */
  .one__product--feature {
    margin-bottom: 120px;
  }
  .one__product--imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .one__product--imgs3 {
    max-width: 450px;
    max-height: 330px;
  }
}
@media screen and (max-width: 935px) {
  .container {
    max-width: 840px;
  }
  .category__box {
    padding: 90px 70px 25px;
  }
  .main__speaker--img {
    max-width: 340px;
  }
  .mainHeadphone {
    width: 380px;
  }
  .main__headphone--text {
    padding: 55px 70px 55px 70px;
  }
  .foot__img {
    width: 380px;
  }
  .footer__text p {
    max-width: 400px;
    margin-bottom: 56px;
  }
  /* one product */
  .one__product--feature p {
    max-width: 500px;
  }
}
@media screen and (max-width: 800px) {
  .mainHeadphone {
    width: 360px;
  }
  .main__headphone--text {
    padding: 47px 60px 47px 60px;
  }
  .foot {
    gap: 60px;
  }
  /* category */
  .category__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .container {
    max-width: 689px;
  }
  .navigation {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hero__img {
    display: none;
  }
  .hero {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("./public/hero-bg-tablet.png") no-repeat;
    background-position: center;
    background-size: 600px;
  }
  .categoy__img {
    width: 85px;
    top: -30%;
  }
  .category__box {
    padding: 88px 54px 22px;
  }
  .main__speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-top: 52px;
    padding-bottom: 64px;
    margin-bottom: 48px;
  }
  .main__speaker--img {
    max-width: 200px;
  }
  .main__speaker--text {
    text-align: center;
  }
  .main__speaker--2 {
    background: url("./public/main--speaker-tablet.png") no-repeat right;
  }
  .main__headphone {
    margin-bottom: 96px;
  }
  .mainHeadphone {
    width: 330px;
  }
  .main__headphone--text {
    padding: 35px 50px 35px 50px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 96px;
  }
  .foot__tablet--img {
    display: block;
    border-radius: 8px;
  }
  .foot__img {
    display: none;
  }
  .foot__text {
    padding-left: 57px;
    padding-right: 57px;
  }
  .footer {
    text-align: center;
  }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 36px;
  }
  .footer__title {
    display: inline-block;
  }
  .footer__text {
    margin-bottom: 20px;
  }
  .footer__media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* one product */
  .one__product--feature {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .one__product--feature p {
    max-width: 100%;
  }
}

/* tablet 2 */
@media screen and (max-width: 670px) {
  .container {
    max-width: 689px;
  }
  .category__box {
    padding: 60px 45px 25px;
  }
  .categoy__img {
    width: 85px;
    top: -40%;
  }

  .mainHeadphone {
    width: 300px;
  }
  .main__headphone--text {
    padding: 27px 30px 27px 30px;
  }
  /* category */
  .category__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
  }
  .category__product--img {
    padding: 40px 65px 70px;
  }
  .category__product--text {
    padding: 0px 80px;
  }
  /* one product */
  .one__product--hero {
    display: flex;
    gap: 70px;
  }
}
/* mobil */
@media screen and (max-width: 600px) {
  .container {
    max-width: 327px;
  }
  .hero {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("./public/hero--mobile.png") no-repeat;
    background-position: center;
    background-size: 300px;
  }
  .hero h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.286px;
  }
  .hero p {
    line-height: 25px;
  }
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin-bottom: 118px;
  }
  .categoy__img {
    width: 85px;
    top: -40%;
    right: 38%;
  }
  .category__box {
    width: 100%;
    text-align: center;
  }
  .main__speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 52px;
    padding-bottom: 64px;
    margin-bottom: 24px;
  }
  .main__speaker--img {
    max-width: 150px;
  }
  .main__speaker--text h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.286px;
  }
  .main__speaker--text p {
    line-height: 25px;
    margin-bottom: 24px;
  }
  .main__speaker--2 {
    background: url("./public/main-speaker-2-mobile.png") no-repeat right;
    padding: 100px 25px;
    margin-bottom: 24px;
  }
  .main__headphone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 96px;
  }
  .mainHeadphone {
    width: 330px;
  }
  .main__headphone--text {
    padding: 35px 36px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 96px;
  }
  .foot--mobile {
    display: block;
    border-radius: 8px;
  }
  .foot__tablet--img {
    display: none;
  }
  .foot__img {
    display: none;
  }
  .foot__text {
    padding-left: 2px;
    padding-right: 2px;
  }
  .foot__text h1 {
    font-size: 28px;
    letter-spacing: 1px;
  }
  .f__navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer__title {
    display: inline-block;
  }
  .footer__text {
    margin-bottom: 20px;
  }
  .footer__media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* categoy */
  .category__product--img {
    padding: 30px 45px 45px;
  }
  .category__product--only--img {
    max-width: 200px;
  }
  /* one product */
  .one__product--hero {
    display: flex;
    flex-direction: column;
  }
  .one__product--imgs3 {
    max-width: 330px;
    max-height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .category__product--img {
    padding: 30px 50px;
  }
  .category__product--only--img {
    max-width: 200px;
  }
  .savadcha__none {
    width: 300px;
    padding: 15px;
  }
  .savadcha__show {
    width: 300px;
    padding: 15px;
  }
}
